
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url("https://use.typekit.net/btl3lws.css");

* {
  font-family: 'Rubik', Helvetica, Sans-Serif;
}
.overview-page {
  background: linear-gradient(to bottom, #c4e8ff 0%, #f7f9fe 100%);
}
.tab-pane.active.html-fill-item.html-fill-container.bslib-gap-spacing {
  padding: 0 !important;
}

h2 {
  font-family: 'Adelle';
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.7rem;
}

h3 {
  font-size: 1.4rem;
  font-family: 'Adelle';
  font-weight: 700;
}

.navbar-brand {
  font-family: 'Adelle';
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.navbar-brand > span {
  font-family: 'Adelle';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.overview-page {
  position: relative;
}

.overview-background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 300px;
  background-image: url('Blue Shieldbug (Zicronia caerulea).JPG');
  background-size: cover;
  background-position: center;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 100%
  );

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.overview-page-content {
  max-width: 60rem;
  z-index: 1;
  position: relative;
  margin: 40px auto 0 auto;
  padding: 0px 20px;
}

.overview-message {
  text-shadow: 0px 0px 2px rgba(41, 49, 51, 0.14), 0px 2px 4px rgba(41, 49, 51, 0.16);
  font-size: 1.75rem;
  font-family: 'Adelle';
  font-weight: 700;
  color: black;
}

h1 {
  font-family: 'Adelle';
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0px 0px 2px rgba(41, 49, 51, 0.14), 0px 2px 4px rgba(41, 49, 51, 0.16);
  color: black;
}

.overview-lead {
  font-family: 'Adelle';
  font-size: 1.14rem;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 1.8rem;
  }
  .overview-message {
    font-size: 1.14rem;
  }
  .overview-lead {
    font-size: 1rem;
  }
}

p {
  font-size: 0.875rem;
}

.row.overview-value-row {
  --bs-gutter-x: 0px !important;
  gap: 10px;
}
.row.overview-value-row > .col-sm {
  min-width: 150px;
}
.overview-value-box {
  height: 100%;
}

.value-box-title {
  font-size: 0.875rem !important;
  margin-bottom: 0.3rem !important;
}

.value-box-value {
  font-family: 'Adelle';
  font-weight: 700 !important;
  font-size: 2.5rem !important;
}

.bslib-value-box .value-box-area {
  padding: 0.5rem 1rem 1rem;
}

.nav-underline .nav-link.active, .nav-underline .nav-tabs>li>a.active, .nav-underline .nav-pills>li>a.active, .nav-underline :where(ul.nav.navbar-nav > li)>a.active, .nav-underline .show>.nav-link, .nav-underline .in>.nav-link, .nav-underline .nav-tabs>li.show>a, .nav-underline .nav-tabs>li.in>a, .nav-underline .nav-pills>li.show>a, .nav-underline .nav-pills>li.in>a, .nav-underline .show:where(ul.nav.navbar-nav > li)>a, .nav-underline .in:where(ul.nav.navbar-nav > li)>a {
  border: none !important;
  border-bottom: 2px solid #72DB41 !important;
}

.nav-underline .nav-link:not(:empty).active, .nav-underline :where(ul.nav.navbar-nav > li)>a:not(:empty).active, .nav-underline .nav-tabs>li>a:not(:empty).active, .nav-underline .nav-pills>li>a:not(:empty).active {
  font-weight: 600;
}

.ref-link {
  cursor: pointer;
  font-weight: 500;
  color: var(--bs-primary);
  text-decoration: none;
}

.ref-link-nospace {
  margin-right: -0.2rem;
}

.map-stat-large {
  font-family: 'Adelle';
  font-size: 1.43rem;
  line-height: 1.43rem;
  font-weight: 600;
}

.popup-title {
  font-weight: 600;
  font-size: 0.875rem;
}
hr.popup-hr {
  border-top: 2px solid #72DB41;
  margin: 10px -19px 12px;
  opacity: 1;
}

.data-header {
  margin: 30px 30px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr.data-hr {
  margin: 0.2rem 0;
}

.data-control-row {
  margin: 0 30px -28px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.data-controls {
  display: flex;
  gap: 6px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.control-label {
  margin-bottom: 3px !important;
}

@media only screen and (max-width: 1200px) {
  .data-header {
    margin: 20px 20px 5px;
  }
}

.data-lead {
  font-weight: 300;
  max-width: 60rem;
}

.data-header-hr {
  margin: 1rem 0;
}

/*---------range slider-----------------*/
.irs--shiny .irs-handle, .irs--shiny .irs-from, .irs--shiny .irs-to, .irs--shiny .irs-single, .irs--shiny .irs-bar {
  background-color: #72DB41 !important;
}
/* .irs.irs--shiny.js-irs-0.irs-with-grid {
  padding: 0 10px;
} */

.card-header {
  min-height: 56px;
}
.nav.nav-pills.card-header-pills>.nav-item>.nav-link.active {
  color: black !important;
}
.cards-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--bslib-mb-spacer);
  padding: var(--bslib-mb-spacer);
  height: calc(100svh - 230px);
  margin-bottom: 33px;
}

@media only screen and (max-width: 1200px) {
  .cards-container {
    grid-template-columns: 1fr;
    height: 1000px;
  }
}

/*----------spinner fix-------------*/
.shiny-spinner-output-container {
  height: 100%;
}

.tab-pane.html-fill-item.html-fill-containe0r.bslib-gap-spacing.active.show {
    background: #c4e8ff;
}