
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  font-family: 'Rubik', Helvetica, Sans-Serif;
}
.tab-pane.active.html-fill-item.html-fill-container.bslib-gap-spacing {
  padding: 0 !important;
}

h2 {
  font-family: 'Adelle';
  font-size: 1.7rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Adelle';
  font-weight: 700;
}

.navbar-brand {
  font-family: 'Adelle';
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.navbar-brand > span {
  font-family: 'Adelle';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
}

.welcome-page {
  position: relative;
}

.welcome-background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  width: 100%;
  height: 300px;
  background-image: url('Blue Shieldbug (Zicronia caerulea).JPG');
  background-size: cover;
  background-position: center;

  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) 100%
  );

  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.welcome-page-content {
  max-width: 60rem;
  z-index: 1;
  position: relative;
  margin: 200px auto 0 auto;
  padding: 0px 20px;
}

.welcome-message {
  text-shadow: 0px 0px 2px rgba(41, 49, 51, 0.14), 0px 2px 4px rgba(41, 49, 51, 0.16);
  font-size: 1.75rem;
  font-family: 'Adelle';
  font-weight: 700;
  color: black;
}

h1 {
  font-family: 'Adelle';
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 0px 0px 2px rgba(41, 49, 51, 0.14), 0px 2px 4px rgba(41, 49, 51, 0.16);
  color: black;
}

.welcome-lead {
  font-family: 'Adelle';
  font-size: 1.14rem;
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 1.8rem;
  }
  .welcome-message {
    font-size: 1.14rem;
  }
  .welcome-lead {
    font-size: 1rem;
  }
}

p {
  font-size: 0.875rem;
}

.row.welcome-value-row {
  --bs-gutter-x: 0px !important;
  gap: 10px;
}
.row.welcome-value-row > .col-sm {
  min-width: 150px;
}
.welcome-value-box {
  height: 100%;
}

.value-box-title {
  font-size: 0.875rem !important;
  margin-bottom: 0.3rem !important;
}

.value-box-value {
  font-family: 'Adelle';
  font-weight: 700 !important;
  font-size: 2.5rem !important;
}

.bslib-value-box .value-box-area {
  padding: 0.5rem 1rem 1rem;
}

.nav-underline .nav-link.active, .nav-underline .nav-tabs>li>a.active, .nav-underline .nav-pills>li>a.active, .nav-underline :where(ul.nav.navbar-nav > li)>a.active, .nav-underline .show>.nav-link, .nav-underline .in>.nav-link, .nav-underline .nav-tabs>li.show>a, .nav-underline .nav-tabs>li.in>a, .nav-underline .nav-pills>li.show>a, .nav-underline .nav-pills>li.in>a, .nav-underline .show:where(ul.nav.navbar-nav > li)>a, .nav-underline .in:where(ul.nav.navbar-nav > li)>a {
  border: none !important;
  border-bottom: 2px solid #58A732 !important;
}

.nav-underline .nav-link:not(:empty).active, .nav-underline :where(ul.nav.navbar-nav > li)>a:not(:empty).active, .nav-underline .nav-tabs>li>a:not(:empty).active, .nav-underline .nav-pills>li>a:not(:empty).active {
  font-weight: 600;
}

.ref-link {
  cursor: pointer;
  font-weight: 500;
  color: var(--bs-primary);
  text-decoration: none;
}

.ref-link-nospace {
  margin-right: -0.2rem;
}

.map-stat-large {
  font-family: 'Adelle';
  font-size: 1.43rem;
  line-height: 1.43rem;
  font-weight: 600;
}

.popup-title {
  font-weight: 600;
  font-size: 0.875rem;
}
hr.popup-hr {
  border-top: 2px solid #58A732;
  margin: 10px -19px 12px;
  opacity: 1;
}

.data-header {
  margin: 20px 30px 20px;
}

@media only screen and (max-width: 800px) {
  .data-header {
    margin: 30px 12px 10px;
  }
}

.data-lead {
  font-weight: 300;
  max-width: 60rem;
}

.data-header-hr {
  margin: 1rem 0;
}