name: Docker-Build 
on: 
  push: 
    branches: 
      - shinyproxy-deploy 

jobs: 
  build: 
    runs-on: [self-hosted, linux, X64] 
    steps: 
      - uses: actions/checkout@v4 

      - name: Build new Docker image 
        run: | 
          docker build --no-cache --progress=plain -t bugs_matter_dashboard .

      - name: Remove containers using dangling images and delete them
        run: |
          DANGLING_IMAGES=$(docker images -q --filter "dangling=true")
          if [ ! -z "$DANGLING_IMAGES" ]; then
            for IMAGE_ID in $DANGLING_IMAGES; do
              CONTAINERS=$(docker ps -q --filter "ancestor=$IMAGE_ID")
              if [ ! -z "$CONTAINERS" ]; then
                docker stop $CONTAINERS
                docker rm $CONTAINERS
              fi
              docker rmi -f $IMAGE_ID
            done
          fi

