name: Docker-Build 
on: 
  push: 
    branches: 
      - shinyproxy-deploy 

jobs: 
  build: 
    runs-on: [self-hosted, linux, X64] 
    steps: 
      - uses: actions/checkout@v4 
      - name: Build Docker Image 
        run: | 
          docker build --no-cache --progress=plain -t bugs_matter_dashboard . 