name: Docker-Build
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Build Docker Image
        run: |
          docker build --progress=plain -t bugs_matter_dashboard .
